{% extends 'main/global.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<section>
    <h1>
        FIND YOUR <br>DREAMS
    </h1>
    <p>
        Our catalog will surprise you. Rather, discover an unprcendented offers of luxury properties. Our <br>
        catalog will surprise you. Rather, discover an unprecendented offers of luxury properties.
    </p>
    <a href="btn">
        Expolore Properties
    </a>
</section>

{% endblock %}

{% block part-content %}

<div class="part-content">
    <ul type="none">
        <li>
            <div class="icon"></div>
            <p>ALL</p>
        </li>
        <li>
            <div class="icon"></div>
            <p>PROPERITIES</p>            
        </li>
        <li>
            <div class="icon"></div>
            <p>HOTEL</p>            
        </li>
        <li>
            <div class="icon"></div>
            <p>VILLA</p>            
        </li>
    </ul>
</div>

{% endblock %}