*
{
    padding: 0px;
    margin: 0px;
    /* -- Add font family here -- */
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    

}
header
{
    gap: 170px;
    width: 100%;
    height: 150px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: black 1px solid;
    background-color: rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 2;
}

a
{
    color: black;
    text-decoration: none;
}

.home-logo a
{
    font-size: xx-large;
    font-weight: 500;
}

header nav ul
{
    gap: 35px;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    padding-right: 100px;
    margin-right: 10px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
    border-radius: 50px;
    border: black 1px solid;
}


header nav ul li a:hover
{
    color: red;
}


.setting
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.setting .signup
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting .signup span
{
    padding-right: 7px;
}

.setting .signup a
{
    padding-right: 7px;
}

.setting .light-dark
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.setting .light-dark .light-mode
{
    padding-right: 7px;
}

/* ---- */
.test
{
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-image: url('/static/images/skyscraper.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}
.test2
{
    height: 100vh;
    color: blue;
    background-image: url('/static/images/skyscraper-dark.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}