*
{
    padding: 0px;
    margin: 0px;
    /* -- Add font family here -- */
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    

}
header
{
    gap: 170px;
    width: 100%;
    height: 45px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.01);
    position: fixed;
    z-index: 2;
}

a
{
    color: black;
    text-decoration: none;
}

.home-logo a
{
    font-size: xx-large;
    font-weight: 500;
}

header nav ul
{
    gap: 35px;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    padding-right: 100px;
    margin-right: 10px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #fff;
    border-radius: 50px;
}


header nav ul li a:hover
{
    color: red;
}


.setting
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.setting .signup
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting .signup span
{
    padding-right: 7px;
}

.setting .signup a
{
    padding-right: 7px;
}

.setting .light-dark
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.setting .light-dark .light-mode
{
    padding-right: 7px;
}

/* ---- */
main
{
    width: 100%;
    height: 90vh;
    padding: 0px;
    margin: 0px;
    background-image: url('/static/images/skyscraper.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
}

section
{
    width: 100%;
    height: 500px;
    display: flex;
    padding-left: 205px;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

section h1
{
    font-size: 3cm;
    text-align: left;
    font-weight: 500;
    padding-bottom: 30px;
}

section p
{
    font-size: small;
    padding-bottom: 30px;
}

section a
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: small;
    width: fit-content;
    border-radius: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.part-content
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 201, 201);
    /* Here will edit if we want the item over-up */
}

.part-content ul
{
    height: 150px;
    border-radius: 50px;
    background-color: #fff;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.part-content ul li
{

}

.test2
{
    height: 100vh;
    color: blue;
    background-image: url('/static/images/skyscraper-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
